body {
    background:linear-gradient(150deg,rgb(11, 16, 26) 16.62%, rgb(29 1 152) 85.61%);
    min-width: 350px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color:#c5c5c5 ;
    font-family: Arial, sans-serif;
}


.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid rgb(181, 170, 170);
}
.logo {
    width: 100px;
}
.menu-header {
    display: flex;
    gap: 65px;
}


.titulo {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    height: 20px;
    font-size: 50px;
    color:rgb(1 111 198)
}
.sub-titulo {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    font-size: 30px;
}


.secao-1 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.aside {
    width: 50%;
}
.menu-1 {
    font-size: 35px;
}
.paragrafo-1 {
    width: 80%;
    font-size:20px;
}


.menu-2 {
    padding-top: 20px;
    font-size: 35px;
}
.produtos {
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #c5c5c5;
    width: 50%;
}
.imagem-2 {
    width: 500px;
    border: 5px solid black;
    border-radius: 40px;
    margin-top: 40px;
}


.div-nossos-profissionais {
    padding-top: 50px;  
}
.menu-3 {
    height: 10px;
    padding-left: 45px;
    font-size: 35px;
}
.secao-imagens {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}
.div-img {
    display: flex;
    flex-direction: row;
}
.foto-de-perfil {
    width: 100px
}


.menu-4 {
    padding-top: 40px;
    padding-left: 45px;
    font-size: 35px;
}
.secao-menu-4 {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 0 auto;

}
.aside-mapa {
    height: 620px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 100px;
}
.div-mapa {
    border: 10px solid black;
}


.article-contatos {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 30px;
}
.contatos {
    padding-left: 230px;
    font-size: 35px;
    padding-bottom: 30px;
}
.div-bruno {
    padding-bottom: 20px;
}
.dados-bruno{
    margin: 0;
    height:15px;
    padding-bottom:30px;
}

.div-jorge {
    padding-bottom: 20px;
}
.dados-jorge {
    margin: 0;
    height:15px;
    padding-bottom: 30px;
}

.div-luiz {
    padding-bottom: 20px;
}
.dados-luiz {
    margin: 0;
    height:15px;
    padding-bottom: 30px;
}



.content-footer {
    border-top: 1px solid rgb(181, 170, 170);
    padding-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.barbearia99-footer {
    font-size: 50px;
    color:#c5c5c5
}
.img-footer {
    width: 150px;
}